html
  head
    include link.pug
    | <style type="text/css">
    include ../index.css
    | </style>
  body
    .container
     .jumbotron
        h1.title PatysRPG
        p Tutaj możesz zgłosić znaleziony błąd.
    .container
        form.form-horizontal(method='post', action='/error')
          .form-group
            label.col-sm-2.control-label(for="email") Rmail
            .col-sm-10
              input#email.form-control(type='email', name='email', placeholder='Wpisz Email')
          .form-group
            label.col-sm-2.control-label(for="error") Opis
            .col-sm-10
              textarea#error.form-control(name='error', placeholder='Opis błędu')
          .form-group
            .col-sm-offset-2.col-sm-10
              button.btn.btn-primary(type='submit') Zgłoś błąd

    include scripts.pug
