html
  head
    include link.pug
    | <style type="text/css">
    include ../game.css
    | </style>
  body
    .container
      .jumbotron
        h1.title PatysRPG
    .container
      .row
        .col-sm-2
          .menu
            button.btn.btn-large.btn-primary.btn-block#menu-character Postać
            button.btn.btn-large.btn-primary.btn-block#menu-mission Misje
            button.btn.btn-large.btn-primary.btn-block#menu-shop Sklep
            button.btn.btn-large.btn-primary.btn-block#menu-arena Arena
            button.btn.btn-large.btn-primary.btn-block#menu-ranking Ranking
            button.btn.btn-large.btn-primary.btn-block#menu-messages
              | Wiadomości &nbsp;
              span.badge 3
            button.btn.btn-large.btn-primary.btn-block#menu-group Grupa
            a(href="/logout" style="margin-top: 35px;").btn.btn-large.btn-info.btn-block#menu-logout Wyloguj
        .col-sm-10
          include game/character.pug
          include game/missions.pug
          div#panel-shop
            .panel.panel-primary
              .panel-heading
                h3.panel-title Sklep
              .panel-body
                p Info o sklepie
          div#panel-arena
            .panel.panel-primary
              .panel-heading
                h3.panel-title Arena
              .panel-body
                p Info o arena
          div#panel-ranking
            .panel.panel-primary
              .panel-heading
                h3.panel-title Ranking
              .panel-body
                p Info o ranking
          div#panel-messages
            .panel.panel-primary
              .panel-heading
                h3.panel-title Wiadomości
              .panel-body
                p Info o wiadomosci
          div#panel-group
            .panel.panel-primary
              .panel-heading
                h3.panel-title Grupa
              .panel-body
                p Info o grupach
    footer.footer
      p(style="text-align: center;").text-muted Patryk "patys_prog" Szczygło &copy; 2016
    include scripts.pug
    | <script>
    include ../game.js
    | </script>
