html
  head
    include link.pug
    | <style type="text/css">
    include ../game.css
    | </style>
  body
    .container
      .jumbotron
        h1.title PatysRPG
    .container
      .row
        .col-sm-2
          .menu
            button.btn.btn-large.btn-primary.btn-block#menu-character Postać
            button.btn.btn-large.btn-primary.btn-block#menu-missions Misje
            button.btn.btn-large.btn-primary.btn-block#menu-shop Sklep
            button.btn.btn-large.btn-primary.btn-block#menu-arena Arena
            button.btn.btn-large.btn-primary.btn-block#menu-ranking Ranking
            button.btn.btn-large.btn-primary.btn-block#menu-messages
              | Wiadomości &nbsp;
              - if (typeof(messages_count) !== 'undefined'){
              span.badge= messages_count.messages_count
              - } else {
                p Błąd
              - }
            button.btn.btn-large.btn-primary.btn-block#menu-group Grupa
            a(href="/logout" style="margin-top: 35px;").btn.btn-large.btn-info.btn-block#menu-logout Wyloguj
        .col-sm-10
          #content
          a.btn.btn-info(href="/error") Zgłoś błąd
    footer.footer
      p(style="text-align: center;").text-muted Patryk "patys_prog" Szczygło &copy; 2016
    include scripts.pug
    | <script>
    include ../game.js
    | </script>
