html
  head
    include link.pug
  body
    .container
      .row
        .col-md-2
          .menu
            button.btn.btn-large.btn-primary.btn-block Postać
            button.btn.btn-large.btn-primary.btn-block Misje
            button.btn.btn-large.btn-primary.btn-block Sklep
            button.btn.btn-large.btn-primary.btn-block Arena
            button.btn.btn-large.btn-primary.btn-block Ranking
            button.btn.btn-large.btn-primary.btn-block Wiadomości
            button.btn.btn-large.btn-primary.btn-block Grupa
        .col-md-10
          .game
            h1 Tutaj gra itd
      .row
        .col-md-12
          .footer
            p Patryk "patys_prog" Szczygło &copy; 2016
    include scripts.pug
