html
  head
    include link.pug
  body
    .container
      .row
        .col-md-2
          .menu
            button.btn.btn-large.btn-primary Postać
            button.btn.btn-large.btn-primary Misje
            button.btn.btn-large.btn-primary Sklep
            button.btn.btn-large.btn-primary Arena
            button.btn.btn-large.btn-primary Ranking
            button.btn.btn-large.btn-primary Wiadomości
            button.btn.btn-large.btn-primary Grupa
        .col-md-10
          .game
            h1 Tutaj gra itd
      .row
        .col-md-12
          .footer
            p Patryk "patys_prog" Szczygło &copy; 2016
    include scripts.pug
