html
  head
    include link.pug
    | <style type="text/css">
    include ../index.css
    | </style>
  body
    .container.header
        h1.title PatysRPG
        p Najlepsze RPG jakie Patyś kiedykolwiek stworzył
        p Fantasy, epic to są słowa opisujące tą gre
    .container(style="text-align: center;")
      a(href="login" class="btn btn-large btn-primary") Logowanie
      a(href="register" class="btn btn-large btn-warning") Rejestracja

    include scripts.pug
