html
  head
    include link.pug
    | <style type="text/css">
    include ../index.css
    | </style>
  body
    .container
     .jumbotron
        h1.title PatysRPG
        .content
          .visible
            p
              Witaj
            ul
              li graczu!
              li mistrzu!
              li bohaterze!
              li człowieku!
    .container.box
      h2 Prace nad grą są rozpoczęte.
      p Zostało udostępnione wstępne logowanie i rejestracja do gry.
      p Wszelkie niedoskonałości muszą zostać wybaczone. Przynajmniej chwilowo.
    .container(style="text-align: center;")
      a(href="login" class="btn btn-large btn-primary") Logowanie
      a(href="register" class="btn btn-large btn-warning") Rejestracja

    include scripts.pug
