html
  head
    include link.pug
    | <style type="text/css">
    include ../index.css
    | </style>
  body
    .container
     .jumbotron
        h1.title PatysRPG
        a(href="login" class="btn btn-large btn-primary").hvr-underline-from-left Logowanie
        a(href="register" class="btn btn-large btn-warning").hvr-underline-from-left Rejestracja
    .container.box
      h2 Prace nad grą są rozpoczęte.
      p Zostało udostępnione wstępne logowanie i rejestracja do gry.
      p Wszelkie niedoskonałości muszą zostać wybaczone. Przynajmniej chwilowo.

    include scripts.pug
