html
  head
    include link.pug
    | <style type="text/css">
    include ../index.css
    | </style>
  body
    .container
     .jumbotron
        h1.title PatysRPG
        .row
          .col-md-6
            h3 Wejdź do gry i zostań bohaterem!
            a(href="login").btn.btn-large.btn-primary.hvr-underline-from-left Logowanie
          .col-md-6
            h3 Dołącz do grona najlepszych graczy!
            a(href="register").btn.btn-large.btn-warning.hvr-underline-from-left Rejestracja
    .container.box
      h2 Prace nad grą są rozpoczęte.
      p Zostało udostępnione wstępne logowanie i rejestracja do gry.
      p Wszelkie niedoskonałości muszą zostać wybaczone. Przynajmniej chwilowo.

    include scripts.pug
