html
  head
    include link.pug
    | <style type="text/css">
    include ../register.css
    | </style>

  body
    .container
      .row.main
        .panel-heading
          .panel-title.text-center
            h1.title PatysRPG
            hr
        .main-login.main-center
          form.form-horizontal(method='post', action='/login')
            .form-group
              .wrap.center
                .wrap-label
                  label(for='username') Nazwa
                  p.iconicfill-pen-alt2
                input#username(type='text', name='username', placeholder='Wpisz nazwe')
            .form-group
              .wrap.center
                .wrap-label
                  label(for='password') Hasło
                  p.iconicfill-pen-alt2
                input#password(type='password', name='password', placeholder='Wpisz hasło')
            .form-group
              button.btn.btn-primary.btn-lg.btn-block.login-button(type='submit') Logowanie
            .login-register
              a(href='/register') Rejestracja


    include scripts.pug
