html
  head
    include link.pug
  body
    h1 Logowanie
    .container
      form(action="/login", method="POST")
        input(id="username", name="username" type="text")
        input(id="password", name="password" type="password")
        input(type="submit")

    include scripts.pug
