html
  head
    include link.pug
  body
    .container
      .jumbotron
        h1 PatysRPG
        p= "Najlepsze RPG jakie Patyś kiedykolwiek stworzył."
        p= "Fantasy, epic to są słowa opisujące tą gre."
    .container
      h1 Tutaj bedzie rejestracja
      p lol

    include scripts.pug
