html
  head
    include link.pug
    | <style type="text/css">
    include ../index.css
    | .jumbotron { position: absolute; top:0; bottom: 0; left: 0; right: 0; margin: auto; }
    | </style>
  body
    .container
     .jumbotron
        h1.title PatysRPG
        p Oj, coś poszło nie tak :c
        p Jak chcesz możesz nam to zgłosić tutaj.
        a(href="/error") Tutaj zgłaszamy błędy.

    include scripts.pug
