#mission.panel-group(role='tablist', aria-multiselectable='false')
  .panel.panel-default
    .panel-body
      .row
        .col-sm-4
          .row
            .col-sm-12
              h3= game_data.mission_name
              p= game_data.mission_description
          .row
            .col-sm-8
              p Pieniądze &nbsp;
            .col-sm-4
              span.badge.lead= game_data.mission_money
          .row
            .col-sm-8
              p Koniec &nbsp;
            .col-sm-4
              #mission-timer
                script.
                  var current = new Date();
                  var end = new Date("#{game_data.end_time}");
                  if(current > end)
                    document.getElementById("mission-timer").innerHTML = '<form action="/mission/end" method="post"><input class="btn btn-default" type="submit" value="Zakończ">';
                  else
                    document.getElementById("mission-timer").innerHTML = '' + end;

        .col-sm-8
          img(src="http://i.imgur.com/eHA2FPC.jpg").img-responsive
