#mission.panel-group(role='tablist', aria-multiselectable='false')
  .panel.panel-default
    .panel-body
      .row
        .col-sm-4
          .row
            .col-sm-12
              h3= game_data.mission_name
              p= game_data.mission_description
          .row
            .col-sm-8
              p Pieniądze &nbsp;
            .col-sm-4
              span.badge.lead= game_data.mission_money
          .row
            .col-sm-8
              p Czas &nbsp;
            .col-sm-4
              #mission-timer
                script.
                  console.log(game_data);

        .col-sm-8
          img(src="http://i.imgur.com/eHA2FPC.jpg").img-responsive
