@-webkit-keyframes background-moving {
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}
@-moz-keyframes background-moving {
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}
@-o-keyframes background-moving {
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}
@keyframes background-moving {
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}

body {
  background: linear-gradient(312deg, #f94a4a, #ece541, #fa964b, #f6fa4b);
  background-size: 800% 800%;

  -webkit-animation: background-moving 24s ease infinite;
  -moz-animation: background-moving 24s ease infinite;
  -o-animation: background-moving 24s ease infinite;
  animation: background-moving 24s ease infinite;

 	font-family: 'Oxygen', sans-serif;
}

h1.title {
	font-size: 50px;
	font-family: 'Passion One', cursive;
	font-weight: 400;
}

.jumbotron {
  text-align: center;
  background-color: #FFEF45;
  color: #000;
}

canvas {
  background-color: white;
  width: 100%;
  height: auto;
}
