
body, html{
  height: 100%;
 	background-repeat: no-repeat;
 	background-color: #FFFFA8;
 	font-family: 'Oxygen', sans-serif;
}

h1.title {
	font-size: 50px;
	font-family: 'Passion One', cursive;
	font-weight: 400;
}

.jumbotron {
  text-align: center;
  background-color: #FFEF45;
  color: #000;
}
