div#panel-character
  .panel.panel-primary
    .panel-heading
      h3.panel-title Postać
    .panel-body
      .row
        .col-sm-4
          .panel.panel-info
            .panel-heading
              h3.panel-title Statystyki
            .panel-body
              p Siła
                span.badge= strength
              p Witalność
                span.badge= vitality
              p Inteligencja
                span.badge= inteligence
              p Zreczność
                span.badge= agility
        .col-sm-8
          img(src="http://i.imgur.com/XTwwOEZ.gif", alt="Postac").img-thumbnail
