div#panel-character
  .panel.panel-primary
    .panel-heading
      h3.panel-title Postać
    .panel-body
      .row
        .col-sm-4
          .panel.panel-info
            .panel-heading
              h3.panel-title Statystyki
            .panel-body
              p= strength
              p= vitality
              p= inteligence
              p= agility

        .col-sm-8
