div#panel-mission
  .panel.panel-primary
    .panel-heading
      h3.panel-title Misje
    .panel-body
      div
        // Nav tabs
        ul.nav.nav-tabs(role='tablist')
          li.active(role='presentation')
            a(href='#tab-missions', aria-controls='tab-missions', role='tab', data-toggle='tab') Misje
          //- li(role='presentation')
          //-   a(href='#tab-active', aria-controls='tab-active', role='tab', data-toggle='tab') Aktywne
        // Tab panes
        .tab-content
          - if game_data.active_mission == false
            #tab-missions.tab-pane.active(role='tabpanel')
              include ex-missions/missionspanel.pug
          - else
            #tab-missions.tab-pane.active(role='tabpanel')
              include ex-missions/missionsactive.pug
          //- #tab-active.tab-pane(role='tabpanel')
          //-   include ex-missions/missionsactive.pug
